<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKwAAAB9CAYAAAA/U4hSAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEnQAABJ0Ad5mH3gAAAJUSURBVHhe7d0xchNBEEDRNaHMQcg5CDkHJOcg5L6InELkZKFgJHrxfvNelZKNZse/Jpi2Sg+Xy/vvG0S82z+AMxMsKYIlRbCkCJYUwZIiWFIES4pgSREsKYIl5WH6fwmer5/3j96Uy+OX/aO7nXGvJt/vCE5YUgRLimBJESwpgiVFsKQIlhTBkmJwcKuPX/dPfnJ5uu4f/dIp92rw/Y7ghCVFsKQIlhTBkiJYUgRLimBJESwpgiXlvJOuhYnLsm+f9k/ut7Cu1UnQKfdqwer7HcEJS4pgSREsKYIlRbCkCJYUwZIiWFLyg4OVS+yxNW1r61pZ0za5roU1bTes68ycsKQIlhTBkiJYUgRLimBJESwpgiVlfHCw4vnD4/7R3VYuw8cu6Le1S/qVNW3T6zqhI37gwwlLimBJESwpgiVFsKQIlhTBkiJYUgRLyqtMuv610YmSSde6wb164YQlRbCkCJYUwZIiWFIES4pgSREsKeODA5fht1+G/87k14mWnPQHTF44YUkRLCmCJUWwpAiWFMGSIlhSBEuKwcGtDrgMP5PRv98Be+WEJUWwpAiWFMGSIlhSBEuKYEkRLCmCJeW8k66FKcmyk3/t42+N7fm0A/bKCUuKYEkRLCmCJUWwpAiWFMGSIlhS8sFenq5//PB25IPl/yJYUgRLimBJESwpgiVFsKQIlhTBkjL+FZkVk7+MMjnJmlrX5JomTb3fpFv3yglLimBJESwpgiVFsKQIlhTBkiJYUl5lcAD3csKSIlhSBEuKYEkRLCmCJUWwpAiWFMGS8gPkt4fy5djKjwAAAABJRU5ErkJggg==" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <ResourcePreloader />
    <link rel="stylesheet" href="AsciiSignBlazor.styles.css" />
    <ImportMap />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <ReconnectModal />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
